
.page {
  height: 100vh;
  width: 100vw;
  background: gray;
  position: fixed;
}

.video-map {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.map-container {
  height: 100%;
  width: 100%;
}

/* Video card on left */
.video-card-container {
  width: 400px;
  max-width: 40%;
  height: auto;
  max-height: 95%;
  position: fixed;
  margin: 1%;
  padding: 1rem;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}


/* Close button */
.close-card {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.bottom-center-controls {
  position: fixed;       /* stick relative to viewport */
  bottom: 20px;          /* distance from bottom */
  left: 50%;             /* horizontal center */
  transform: translateX(-50%); /* truly center */
  display: flex;
  gap: 8px;              /* spacing between buttons */
  z-index: 1000;         /* above the map */
}
